.desk-net-info-block {
  padding-top: 10px;
  padding-bottom: 10px;
}

#desk-net-status-matching .form-type--select label,
#desk-net-publication-custom-field-matching label,
#desk-net-category-matching label,
#desk-net-task-matching label,
#desk-net-group-matching label,
#desk-net-slug-syncing .form-item--desk-net-slug-syncing label,
#desk-net-content-type-matching label,
#desk-net-content-settings label {
  position: relative;
  z-index: 1;
}

#desk-net-status-matching .form-type--select .dn_b-title,
#desk-net-publication-custom-field-matching .dn_b-title,
#desk-net-slug-syncing .form-item--desk-net-slug-syncing .dn_b-title,
#desk-net-category-matching .dn_b-title,
#desk-net-task-matching .dn_b-title,
#desk-net-group-matching .dn_b-title,
#desk-net-content-type-matching .dn_b-title,
#desk-net-content-settings .dn_b-title {
  padding: 20px 10px 20px 0;
}

#desk-net-status-matching .form-submit,
#desk-net-publication-custom-field-matching.form-submit,
#desk-net-slug-syncing .form-submit,
#desk-net-category-matching .form-submit,
#desk-net-task-matching .form-submit,
#desk-net-group-matching .form-submit,
#desk-net-content-type-matching .form-submit,
#desk-net-credentials .form-submit,
#desk-net-content-settings .form-submit,
#generate-new-credentials-submit {
  margin-top: 20px;
  margin-left: 0;
}

#desk-net-status-matching .form-type--select.form-item > label,
#desk-net-publication-custom-field-matching .form-item > label,
#desk-net-slug-syncing .form-item--desk-net-slug-syncing > label,
#desk-net-category-matching .form-item > label,
#desk-net-task-matching .form-item > label,
#desk-net-group-matching .form-item > label,
#desk-net-content-type-matching .form-item > label,
#desk-net-content-settings .form-item > label {
  padding-right: 28px;
  margin-left: 0;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  word-break: break-all;
}

#desk-net-status-matching .form-type--select.form-item > label:after,
#desk-net-publication-custom-field-matching .form-item > label:after,
#desk-net-category-matching .form-item > label:after,
#desk-net-task-matching .form-item > label:after,
#desk-net-group-matching .form-item > label:after,
#desk-net-content-type-matching .form-item > label:after,
#desk-net-slug-syncing .form-item--desk-net-slug-syncing > label:after,
#desk-net-content-settings .form-item > label:after {
  content: '→';
  display: block;
  width: 13px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin-top: -9px;
  right: 10px;
  z-index: 2;
}

#desk-net-status-matching .form-type--select.form-item,
#desk-net-publication-custom-field-matching .form-item,
#desk-net-category-matching .form-item,
#desk-net-task-matching .form-item,
#desk-net-group-matching .form-item,
#desk-net-slug-syncing .form-item--desk-net-slug-syncing,
#desk-net-content-type-matching .form-item,
#desk-net-content-settings .form-item {
  max-width: 330px;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */
  justify-content: flex-start;
  margin: 0;
  padding: 5px 0;
}

#desk-net-content-settings .form-item {
  max-width: 400px;
}

#desk-net-status-matching .form-type--select.form-item > *,
#desk-net-publication-custom-field-matching .form-item > *,
#desk-net-category-matching .form-item > *,
#desk-net-task-matching .form-item > *,
#desk-net-group-matching .form-item > *,
#desk-net-slug-syncing .form-item--desk-net-slug-syncing > *,
#desk-net-content-type-matching .form-item > *,
#desk-net-content-settings .form-item > * {
  width: 165px;
  padding: 0 10px 0 0;
  font-size: 13px;
}

#desk-net-status-matching .form-type--select.form-select,
#desk-net-publication-custom-field-matching .form-select,
#desk-net-slug-syncing .form-item--desk-net-slug-syncing .form-select,
#desk-net-category-matching .form-select,
#desk-net-task-matching .form-select,
#desk-net-group-matching .form-select,
#desk-net-content-type-matching .form-select {
  width: 145px;
  height: 20px;
  margin: auto;
}

#desk-net-content-settings .form-select {
  width: 275px;
  height: 20px;
  margin: auto;
}

.desk-net-desc {
  padding-left: 33px;
  display: block;
  position: relative;
  z-index: 1;
}

.desk-net-desc a {
  position: absolute;
  z-index: 2;
  left: 0;
}

.desk-net-desc img {
  border: 1px solid #c5c5c5;
  margin: 0 0 -4px 10px;
}

.desk-net-id {
  margin-top: 10px;
  margin-left: 33px;
  display: block;
  position: relative;
  z-index: 1;
}

.desk-net-id a {
  margin-left: 10px;
}

.desk-net-id a:hover {
  text-decoration: underline;
  outline: 0;
}

.margin-top {
  margin-top: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal p {
  font-size: 16px;
  text-align: center;
}

.modal .position-control-element {
  text-align: center;
}

.modal .button {
  margin: 0 10px 0;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  min-width: 300px;
  max-width: 400px;
  width: 40%; /* Could be more or less, depending on screen size */
}

.modal-content p {
  margin-top: 40px;
  margin-bottom: 30px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#generate-credentials .submit {
  display: none;
}

#consentModal .btn-primary-submit {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  -webkit-box-shadow: 0 1px 0 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
